@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
:root {
  --black: rgb(47, 47, 47);
  --white: rgb(253, 253, 253);
  --shadow: rgb(85, 85, 85);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Montserrat", sans-serif;
}

.App {
  overflow-x: hidden;
  min-height: 100vh;
  /* background-color: red; */
  position: relative;
}
.header {
  background-color: var(--black);
  color: var(--white);
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header a {
  color: var(--white);
}
.header a.mainHeading {
  font-size: 1.5rem;
}
.header .btn-div {
  height: 100%;
  display: flex;
}
.header .btn-div button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}
.header .btn-div a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  position: relative;
}
.header-menu-compact {
  display: none;
}

.header-menu-compact .compact-menu-button {
  pointer-events: none;
  /* height: 0; */
  /* background-color: red; */
  /* width: 0; */
}
.hamburger-menu {
  height: 20px;
  width: 25px;
  /* background-color: red; */
  position: relative;
}
.hamburger-1 {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 0%;
  transition: all 150ms linear;
}
.hamburger-2 {
  position: absolute;
  transition: all 150ms linear;
  width: 50%;
  transform: translateY(50%);
  height: 2px;
  bottom: 50%;
  left: 0;
  background-color: white;
}
.hamburger-3 {
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0px;
  left: 0;
  background-color: white;
}

.header-menu-item a,
.header-menu-item {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  /* color: red; */
}
.add-form a {
  position: relative;
}
.header .btn-div a::after,
.add-form a::after {
  content: "";
  position: absolute;
  /* width: 100%; */
  width: 0;
  height: 2px;
  background-color: var(--white);
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  transition: all 150ms linear;
}
.add-form a::after {
  background-color: var(--black);
  bottom: -35%;
  height: 1px;
  /* width: 120%; */
}
.header .btn-div a:hover::after,
.add-form a:hover::after {
  width: 100%;
}

.container {
  width: 100%;
  padding: 30px 5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  /* min-height: 100vh; */
  height: 100%;

  /* padding-bottom: 3rem;  */
  /* margin-bottom: 5rem; */
}
footer {
  height: 50px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3rem;
}
.page-heading {
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
  text-align: center;
  color: var(--shadow);
}
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 2px 5px 0px var(--shadow);
}
.add-form input {
  height: 45px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  outline: none;
  border: 1px solid rgb(161, 161, 161);
  font-size: 1.1rem;
  color: var(--shadow);
}
.add-form button,
.link-btn {
  width: 40%;
  height: 50px;
  margin: 10px 0;
  border: none;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.668);
  position: fixed;
  top: 80px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  z-index: 11;
}
.spinner .outer-div {
  height: 150px;
  width: 150px;
  /* background: linear-gradient(); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: var(--black);
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.photos {
  width: 100%;
  height: 100%;
  display: flex;
}
.photos-primary-div {
  display: flex;
  margin: 0 3px;
  flex-direction: column;
}
.photos .image-div {
  width: 100%;
  display: flex;
  margin: 2px;
  padding: 0;
  height: min-content;
  position: relative;
}
.photos img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.photos .image-div::before {
  position: absolute;
  content: "";
  height: 100%;
  opacity: 0.5;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 150ms linear;
}
.photos .image-div:hover::before {
  background-color: black;
}
.photos .image-div:hover {
  box-shadow: inset 5px 5px 80px 0px black;
}
.photos .image-div .text-div {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: red; */
  height: 100%;
  color: var(--white);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  padding-top: 15px;
  display: none;
}

.photos .image-div .icons-div {
  /* background-color: blue; */
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

.photos .image-div .text-div a {
  color: var(--white);
  margin: 5px;
  transition: all 150ms linear;
}
.photos .image-div .text-div p {
  margin-right: 10px;
}
.photos .image-div .text-div a:hover {
  transform: scale(1.1);
}
.photos .image-div:hover .text-div {
  display: flex;
}

.photos .image-div .text-div button {
  background-color: transparent;
  border: none;
  outline: none;
}
.photos .image-div .text-div .photo-icon {
  /* background-color: red; */
  padding: 2px;
  cursor: pointer;
  /* border-radius: 50%; */
  font-size: 1.8rem;
  color: var(--white);
  transition: all 150ms linear;
}
.photos .image-div .text-div .photo-icon:hover {
  transform: scale(1.3);
}

/* profile */
.profile {
  display: flex;
  flex-direction: column;
}

.add-photo-form {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-photo-form .add-button {
  background: var(--black);
  color: var(--white);
  /* width: 150px; */
  padding: 0 20px;
  border-radius: 5px;
  margin: 10px 0;
  height: 45px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.add-photo-form .add-button.secondary {
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}
.add-photo-form .add-button:hover {
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}
.add-photo-form .add-button.secondary:hover {
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--white);
}
.preview-image {
  height: 200px;
  margin-top: 10px;
  /* width: 150px; */
}
.homepage {
  /* margin: 0 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  padding-top: 60px;
}
.alert-message {
  margin: 10px 0;
  margin-bottom: 0;
  width: 100%;
  text-transform: capitalize;
}
.your-photos {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
  /* height: 100px; */
}
.your-photos .photos {
  display: grid;
  justify-content: center;
  /* background-color: red; */
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.your-photos .photos .image-div {
  height: 200px;
  /* width: 2; */
}
.your-photos .photos .text-div {
  margin: 0 10px;
  padding: 0;
  justify-content: space-evenly;
}
.your-photos .photo-icon,
.your-photos .photos .image-div .text-div a,
.your-photos .photos .image-div .text-div p {
  padding: 0;
  margin: 0;
  /* background-color: red; */
}
.your-photos .icons-div,
.your-photos p {
  font-size: 1rem;
}
.category-select {
  width: 400px;
}
.menu-button p {
  font-weight: 400;
  text-transform: capitalize;
  /* background-color: red; */
  color: var(--white);
}
.liked-photos {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1300px) {
  .your-photos .photos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1050px) {
  .photos {
    flex-direction: column;
  }
  .your-photos .photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .photos {
    flex-direction: column;
  }
  .your-photos .photos {
    grid-template-columns: repeat(2, 1fr);
  }
  .header .header-menu.btn-div {
    display: none;
    /* background-color: red; */
  }
  .header-menu-compact {
    display: block;
    /* pointer-events: auto; */
    pointer-events: none;
  }
  .header-menu-compact div {
    /* pointer-events: auto; */
  }
  .header-menu-compact .compact-menu-button {
    pointer-events: all;
  }
}

@media only screen and (max-width: 500px) {
  .photos {
    flex-direction: column;
  }
  .your-photos .photos {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
    width: 100%;
    /* background-color: blue; */
  }
  .your-photos .photos .image-div {
    width: 100%;
  }

  .add-photo-form,
  .link-btn,
  .add-photo-form .add-button,
  .category-select {
    width: 100%;
    margin: 0;
    margin-top: 5px;
  }
  .add-form button {
    width: 100%;
  }
  .add-form input {
    font-size: 1rem;
  }
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .add-form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; */
    /* padding: 2rem; */
    padding-bottom: 1rem;
    /* box-shadow: 0px 2px 5px 0px var(--shadow); */
  }
  .header a.mainHeading {
    padding: 0 1rem;
    font-size: 1.3rem;
  }
}
